.videosec{
    margin-top: 25rem;
    display: flex;
    background-color: #FA5A5A;
}
.videosec2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FA5A5A;
}
.subvideoclass{
    margin-top: -20rem;
    background: url("../Images/Rectangle\ 1151.png");
    border-radius: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 34rem;
    width: 95%;
  
}
.subvideoclass2{
    background-color: rgba(0, 0, 0, 0.388);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
